@media only screen and (max-width: 600px) {
  .responsivefooter {
      text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --main: #0a0a0a;
  --txt: #878683;
  --links: #2069e0;
  --nav: #bebebe;
  --currentStatus: #b5b5b5;
  --box-Shadow: 10px;
  --pfp: url("https://cdn.discordapp.com/avatars/455139054464270345/74d4e3b043c3b1936144106a4c8cbf8c.webp?size=4096");
}

body {
  background-color: var(--main) !important;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.footer {
  position: fixed;
  left: 7px;
  bottom: 0px;
  width: 100%;
  font-family: "Karla" !important;
  text-align: left;
  color: var(--txt);
  font-size: 15px;
}

a {
  color: var(--links);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 3px;
}

.centered {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: var(--pfp);
  background-size: cover;
  box-shadow: 0px 0px var(--box-Shadow) var(--currentStatus);
}

.status {
  font-family: "Karla" !important;
  color: var(--txt);
  position: absolute;
}

.navbar {
  overflow: hidden;
  font-family: "Karla" !important;
  /* background-color: #333; */
}

.navbar a {
  float: left; /* center */
  font-size: 16px;
  color: var(--nav);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
