@media only screen and (max-width: 600px) {
  .responsivefooter {
    text-align: center;
  }
}

:root {
  --main: #000000;
  --txt: #3b3b3b; 
  --links: #d2dbef;
  --nav: #888e99;
}

body {
  background-color: var(--main) !important;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.footer {
  position: fixed;
  left: 7px;
  bottom: 0px;
  width: 100%;
  font-family: "Karla" !important;
  text-align: left;
  color: var(--nav);
  font-size: 15px;
}

a {
  color: var(--links);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 3px;
}

.centered {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("https://cdn.discordapp.com/avatars/455139054464270345/a72574142a992a0a35b0503b45df15d2.webp?size=4096");
  background-size: cover;
  box-shadow: 0px 0px 7px #b59f8e;
}

.status {
  font-family: "Karla" !important;
  color: var(--nav);
  position: absolute;
}

.navbar {
  overflow: hidden;
  font-family: "Karla" !important;
  /* background-color: #333; */
}

.navbar a {
  float: left; /* center */
  font-size: 16px;
  color: var(--nav);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
